@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins";
}
.myImages {
  height: 250px;
}
.renderCartData {
  height: 340vh;
  width: 20%;
  margin-top: -4.3rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.cartImgElement {
  height: 55px;
  width: 60px;
  margin-left: 1rem;
}
.logo img {
  height: 60px;
}

.navbar {
  background-color: lightblue;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  height: 62px;
}
.cart-icon {
  margin-right: 1.4rem;
  position: relative;
}
.cart-icon i {
  font-size: 30px;
}
.cart-icon sup {
  position: absolute;
  background-color: #fff;
  font-weight: bold;
  padding: 0rem 0.3rem;
  font-size: 12px;
  font-family: "Poppins";
  border-radius: 50%;
  top: -25%;
  right: -26%;
}
.main-container {
  display: flex;
  justify-content: space-between;
}

.renderData {
  background-color: #fff;
  width: 100%;
  margin-bottom: 150rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box-main {
  background-color: #fff;
  width: 380px;
  margin-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border-radius: 3px;
  height: 310px;
}
.box-main img {
  height: 200px;
  width: 200px;
  padding-top: 0.3rem;
}
.productTitle {
  font-size: 14px;
  margin-top: 0.3rem;
}
.price-element {
  font-size: 13px;
  margin-top: 0.2rem;
}
.btn-element {
  padding: 0.7rem 7rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: lightblue;
  font-family: "Poppins";
  font-weight: bold;
}
.cart-styling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.fa-trash {
  margin-right: 1rem;
}
.cart-pprice {
  font-size: 13px;
}
.tContainer {
  display: none;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.line {
  display: none;
  margin-top: 1rem;
}
#total_price {
  font-size: 14px;
  margin-left: 1rem;
}
.tContainer button {
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: lightblue;
  color: black;
  font-family: "Poppins";
  padding: 0.1rem 0.3rem;
  cursor: pointer;
  margin-right: 0.8rem;
  font-weight: bold;
}
.emptyCart h1 {
  text-align: center;
  font-size: 26px;
  margin-top: 0.9rem;
}
.cItems {
  background-color: lightblue;
  display: none;
  justify-content: center;
  align-items: center;
}
.cItems h1 {
  font-size: 26px;
  padding: 0.95rem 0rem;
}
